<html>
  <body background="imgs/macacos.jpg">

    <div class="jumbotron home-page">
      <h1 class="welcome_page">Welcome to Rails Challenge</h1>

    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle main-menu" type="button" id="dropdownMenu1" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="true">
        Menu
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="/students">Students</a></li>
      </ul>
    </div>
  </div>

  </body>

</html>
